.hero-section {
  background-image: url('https://carstest123.s3.amazonaws.com/alen-jacob-wdxb9OOMQOs-unsplash.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.footer-section {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}