.hero-section {
  background-image: url(
    'https://images.unsplash.com/photo-1520587210458-bd3bee813b97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'
  );
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.footer-section {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}